{% set content_wysiwyg = content ? content.text : '' %}

<div class="page-content page-content__wysiwyg">
  {% if content_wysiwyg %}
  {{ wysiwyg(content_wysiwyg, allowed_tags, allow_shortcodes) }}
  {% endif %}
</div>
