{% apply spaceless %}
{% set text = content ? content.text : '' %}

{% if is_preview %}
<span
  title="{{ name|humanize|e('html_attr') }}"
  data-ohmedia-page-content="{{ name|e('html_attr') }}"
>{{ text|nl2br }}</span>
{% else %}
{{ text|nl2br }}
{% endif %}
{% endapply %}
