{% set contentWysiwyg = content ? content.text : '' %}

<div
  class="page-content page-content__wysiwyg"
  {% if is_preview %}
  title="{{ name|humanize|e('html_attr') }}"
  data-ohmedia-page-content="{{ name|e('html_attr') }}"
  {% endif %}
>
  {% if contentWysiwyg %}
  {{ wysiwyg(contentWysiwyg, allowed_tags) }}
  {% endif %}
</div>
