services:
    _defaults:
        autowire: true
        autoconfigure: true

    OHMedia\PageBundle\:
        resource: '../src/'
        exclude:
            - '../src/Entity/'
            - '../src/OHMediaPageBundle.php'

    OHMedia\PageBundle\EventListener\PagePostPersist:
        autowire: true
        tags:
            -
                name: 'doctrine.orm.entity_listener'
                event: 'postPersist'
                entity: 'OHMedia\PageBundle\Entity\Page'

    OHMedia\PageBundle\EventListener\PagePostRemove:
        autowire: true
        tags:
            -
                name: 'doctrine.orm.entity_listener'
                event: 'postRemove'
                entity: 'OHMedia\PageBundle\Entity\Page'

    OHMedia\PageBundle\EventListener\PagePostUpdate:
        autowire: true
        tags:
            -
                name: 'doctrine.orm.entity_listener'
                event: 'postUpdate'
                entity: 'OHMedia\PageBundle\Entity\Page'

    # alias used in SitemapPass
    oh_media_page.sitemap_controller:
        alias: OHMedia\PageBundle\Controller\SitemapController
